<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>富饶之城</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/room.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/room.js"></script>
</head>
<body>
	<div id="wrap">
		<div id="show-players">
			<ul>
				<li id="player0"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
				<li id="player1"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
				<li id="player2"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
				<li id="player3"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
				<li id="player4"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
				<li id="player5"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
				<li id="player6"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
				<li id="player7"><img src="/images/testphoto.jpg" /><span class="player-name">&nbsp;</span></li>
			</ul>
			<input id="btn-start" type="button" value="start" />
			<input id="btn-back" type="button" value="back to lobby" />
		</div>
		<div id="chat-dialog">

		</div>
	</div>
</body>
</html>