#game-display, #game-info{
	display: block;
	margin: 15px;
	padding: 0px;
	border: 3px solid white;
/*	border-radius: 10px;
	-moz-border-radius: 10px;*/
	height: 820px;
	float: left;
}

#game-display{
	width: 70%;
	min-width: 700px;
}

#game-info{
	width: 20%;
	min-width: 200px;
}

/*
  style of showers to display players
*/
#players{
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#players > ul{
	display: block;
	height: 170px;
	padding: 0px 10px;
}

#line2 > li, #line3 > li{
	float: left;
}

#line2 > li + li, #line3 > li + li{
	float: right;
}

.oneplayer{
	display: inline-block;
}

.oneplayer > div{
	padding: 0px;
	width: 126px;
	height: 150px;
	border: 1px solid white;
}
/*
  end style of players
*/

/*
  style of buildings
*/

#buildings{
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}

#buildings img{
	display: inline-block;
	width: 70px;
	height: 100px;
	padding: 0px;
	margin: 0px 5px;
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

/*
  end style of buildings
*/

/*
  style of player-info
*/

#player-info{
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	width: 100%;
	height: 120px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	text-align: left;
}

#player-info > *{
	display: inline-block;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#player-info > img{
	width: 100px;
	height: 120px;
	/*border-right: 1px solid white;*/
}

#coins{
	width: 100px;
	height: 120px;
	border: 1px solid white;
/*	border-left: 1px solid white;
	border-right: 1px solid white;*/
	text-align: center;
}

#coins > img{
	width: 100px;
	height: 100px;
}

#hand{
}

#hand > img{
	width: 70px;
	height: 100px;
	margin: 10px 5px;
}

/*
  end style of player-info
*/

/*
  style of dialog to choose role before game beginning
*/
#choose-role{
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 600px;
}

#choose-role > ul{
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
	padding: 0px;
}

#choose-role > ul > li{
	display: inline-block;
	width: 132px;
	text-align: center;
	margin: 20px auto;
	margin-top:30px;
	margin-bottom: 10px; 
}

.role> img{
	border: 3px solid white;
	border-radius: 10px;
}

.role > img:hover{
	border: 3px solid blue;
}
/*
  end style of choose-role
*/
/*-----------------------------------------------------*/
/*
  style of dialog to act during game
*/
#act{
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	z-index: -1;
	margin: auto;
	margin-top: 200px;
	width: 200px;
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0px;
	text-align: center;
}

#act > .square{
	width: 70px;
	height: 70px;
	margin-top: 10px;
}

#end-turn{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*
  end style of game-act
*/

/*
  style of dialog to choose card or coins
*/
#cardorM{
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	z-index: -1;
	margin: auto;
	margin-top: 200px;
	width: 350px;
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0px;
}

#cardorM > ul{
	text-align: center;
	padding: 0px;
}

.cardorM{
	display: inline-block;
	width: 132px;
	margin: auto;
	padding: 0px;
}

.cardorM> img{
	border: 3px solid white;
	border-radius: 10px;
}

.cardorM > img:hover{
	border: 3px solid blue;
}
/*
  end style of cardorM
*/

#middle{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70%;
	min-width: 700px;
	margin: 18px;
	padding: 0px;
}

