#game-display, #game-info{
	display: block;
	margin: 15px;
	padding: 0px;
	border: 3px solid white;
/*	border-radius: 10px;
	-moz-border-radius: 10px;*/
}

#game-display{
	width: 70%;
	min-width: 700px;
	height: 700px;
	float: left;
}

#game-info{
	width: 20%;
	min-width: 200px;
	height: 700px;
	float: left;
}


/*
  style of dialog to choose role before game beginning
*/
#choose-role{
	position: absolute;
	visibility: hidden;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 600px;
}

#choose-role > ul{
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
	padding: 0px;
}

#choose-role > ul > li{
	display: inline-block;
	width: 132px;
	text-align: center;
	margin: 20px auto;
	margin-top:30px;
	margin-bottom: 10px; 
}

.role> img{
	border: 3px solid white;
	border-radius: 10px;
}

.role > img:hover{
	border: 3px solid blue;
}
/*
  end style of choose-role
*/
/*-----------------------------------------------------*/
/*
  style of dialog to act during game
*/
#act{
	position: absolute;
	visibility: hidden;
	z-index: -1;
	margin: auto;
	margin-top: 200px;
	width: 200px;
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0px;
	text-align: center;
}

#act > .square{
	width: 70px;
	height: 70px;
	margin-top: 10px;
}

#end-turn{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*
  end style of game-act
*/

/*
  style of dialog to choose card or coins
*/
#cardorM{
	position: absolute;
	visibility: hidden;
	z-index: 2;
	margin: auto;
	margin-top: 200px;
	width: 350px;
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0px;
}

#cardorM > ul{
	text-align: center;
	padding: 0px;
}

.cardorM{
	display: inline-block;
	width: 132px;
	margin: auto;
	padding: 0px;
}

.cardorM> img{
	border: 3px solid white;
	border-radius: 10px;
}

.cardorM > img:hover{
	border: 3px solid blue;
}
/*
  end style of cardorM
*/

/*
  style of showers to display players
*/
#players{
	width: 100%;
	margin: 0px;
	padding: 5px;
	text-align: center;
}

#players > ul{
	display: block;
}

#line2 > li, #line3 > li{
	float: left;
}

#line2 > li + li, #line3 > li + li{
	float: right;
}

.oneplayer{
	display: inline-block;
}

.oneplayer > div{
	padding: 0px;
	width: 126px;
	height: 150px;
	border: 1px solid white;
}
/*
  end style of players
*/