<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="http://桌遊.net/wiki/images/1/12/%E5%9C%96%E6%9D%BF%E9%81%8A%E6%88%B2-%E5%AF%8C%E9%A5%92%E4%B9%8B%E5%9F%8E.jpg">
    <p>富饶之城是个评价五星级的策略游戏，目的是建筑七个以上的城镇并获得最高分，每回合选择的角色均有特殊效力，可让玩家获得更多的金币或是享有特权，以建造更多更高分的富饶之城。</p>
    <p>富饶的城市里，有一群有着各种身份和地位的人，如果你想要建造属于自己的富饶之城，那么你就需要借用这些人的力量，让他们帮助你去实现自己的梦想。每个回合可以雇佣不同的人物，让别人无法猜测你的心思，然后取得最后的胜利。</p>
    <a href="/play">开始游戏</a>
  </body>
</html>
