<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>富饶之城</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/room-list.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/room-list.js"></script>
</head>
<body>
	<div id="transbox">
		<form id="username">
		玩家昵称：
		<input 
		type="text" 
		name="username" 
		autofocus="autofocus"
		onblur="check(this)"
		/>
		</form>

		<div id="info">
			<h1>富饶之城</h1>
			<p>富饶之城是个评价五星级的策略游戏，目的是建筑七个以上的城镇并获得最高分，每回合选择的角色均有特殊效力，可让玩家获得更多的金币或是享有特权，以建造更多更高分的富饶之城。期间您必须猜测对手的想法和对方的角色选择。</p>
		</div>

		<div id="table1">
		<table>
			<tr>
			<td>Room</td><td>Time</td><td>Player</td>
			</tr>
			<tr>
			<td>testroom</td><td>10s</td><td>5/8</td>
			</tr>
		</table>
		</div>

		<a href="http://baike.baidu.com/link?url=lNpKhctqvEPyJafyI1k0_d1MUiwR9of5SsV6_ggxPQdh0j275ALy2h_dVD-cD8w8"
		target="_blank">游戏帮助</a>

		<form>
			<input type="button" value="创建游戏">
			<input type="button" value="加入游戏">
			<input type="button" value="快速加入">
		</form>
	</div>
</body>
</html>

