<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/room.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/room.js"></script>
</head>
<body>
	<div id="wrap">
		<div id="show-players">
			<ul >
				<li><img src="/images/testphoto.jpg" />player.name</li>
				<li><img src="/images/testphoto.jpg" />player.name</li>
				<li><img src="/images/testphoto.jpg" />player.name</li>
				<li><img src="/images/testphoto.jpg" />player.name</li>
			</ul>
			<ul>
				<li><img src="/images/testphoto.jpg" />player.name</li>
				<li><img src="/images/testphoto.jpg" />player.name</li>
				<li><img src="/images/testphoto.jpg" />player.name</li>
				<li><img src="/images/testphoto.jpg" />player.name</li>
			</ul>
			<input type="button" value="start" />
		</div>
		<div id="chat-dialog">

		</div>
	</div>
</body>
</html>