<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Citadles</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/userlogin.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/userlogin.js"></script>
</head>
<body>
	<div id="transbox">
		<form>
		Username:
		<input 
		type="text" 
		name="username" 
		autofocus="autofocus"
		onblur="check(this)"
		/>
		</form>

		<div id="table1">
		<table>
			<tr>
			<td>Room</td><td>Time</td><td>Player</td>
			</tr>
			<tr>
			<td>testroom</td><td>10s</td><td>5/8</td>
			</tr>
		</table>
		</div>

		<div id="info">
			<p>test</p>
		</div>

		<a href="javascript:void(0);">Push me!</a>
	</div>
</body>
</html>

