body{
	background-image: url("../images/bgpic.jpg");
	color: white;
	margin: 0;
}

#wrap{
	width: 960px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.6);
	display: table;
/*  	border: 1px solid black;*/
  	/* for IE */
/*  	filter:alpha(opacity=60);*/
 	/* CSS3 standard */
/*  	opacity:0.6;*/
}
#username-form, #rooms, #intro{
	display: block;
	margin: 15px;
	padding: 12px;
	border: 3px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#username-form{
	width: 600px;
	float: left;
}
#rooms{
	width: 600px;
	height: 300px;
	float: left;
}
#intro{
	width: 240px;
	float: right;
	height: 385px;
}
#room-table{
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}
.td-room-name{
	text-align: left;
	width: 70%;
}
.td-timeout{
	width: 10%;
}
.td-players{
	width: 20%;
}
#room-table tr > td{
	height: 1em;
	padding: 0.5em;
}
#room-table > tbody > tr:hover{
	background-color: rgb(100, 100, 100);
}
#create-opt{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	visibility:hidden;
	width:680px;
}