html{
	height: 100%;
}
body{
	background-image: url("../images/bgpic.jpg");
	color: white;
	height: 100%;
	margin: 0;
	display: table;
}
#wrap{
	width: 100%;
	min-width: 1200px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.6);
	display: table-cell;
	vertical-align: middle;
}
#username-form, #rooms, #intro, .dialog{
	display: block;
	margin: 15px;
	padding: 12px;
	border: 3px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#username-form{
	width: 60%;
	min-width: 600px;
	float: left;
}
#rooms{
	width: 60%;
	min-width: 600px;
	height: 300px;
	float: left;
}
#intro{
	width: 30%;
	min-width: 240px;
	float: right;
	height: 385px;
}
#room-table{
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}
.td-room-name{
	text-align: left;
	width: 60%;
}
.td-timeout{
	width: 10%;
}
.td-maxbuilding{
	width: 10%;
}
.td-players{
	width: 20%;
}
#room-table tr > td{
	height: 1em;
	padding: 0.5em;
}
#room-table > tbody > tr:hover{
	background-color: rgb(100, 100, 100);
}

.dialog-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	visibility: hidden;
}
.dialog-center{
	background-color: rgba(0, 0, 0, 0.8);
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;	
}
.dialog{
	display: inline-block;
	width: 500px;
	margin: auto;
}
.input-invalid{
	border-color: red;
}