body{
	background-image: url("../images/bgpic.jpg");
	color: white;
}

#transbox{
	margin: 60px;
  	background-color: #000000;
  	border: 1px solid black;
  	/* for IE */
  	filter:alpha(opacity=60);
 	/* CSS3 standard */
  	opacity:0.6;
}
form, table{
	width: 60%;
	display: block;
	margin: 30px;
	padding: 20px 20px;
	border: 5px solid white;
	border-radius: 15px;
	-moz-border-radius: 15px;
}
/*form{
	width: 350px;
}
table{
	width: 400px;
}*/
#test{
}
