body{
	background-image: url("../images/bgpic.jpg");
	color: white;
}

#transbox{
	width: 800px;
	height: 600px;
	margin: auto;
  	background-color: #000000;
  	border: 1px solid black;
  	/* for IE */
  	filter:alpha(opacity=60);
 	/* CSS3 standard */
  	opacity:0.6;
}
#username, #table1, #info{
	display: block;
	margin: 30px;
	padding: 20px 20px;
	border: 5px solid white;
	border-radius: 15px;
	-moz-border-radius: 15px;
}
#username{
	width: 400px;
	height: 30px;
	float: left;
}
#table1{
	width: 400px;
	height: 300px;
	margin-top: 0;
	float: left;
}
#info{
	width: 200px;
	height: 410px;
	float: right;
	margin-left: 0;
}
a {
	float: right;
}
#test{
}
